# MencretKernel Config File
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

# Enable OverlayFS
CONFIG_OVERLAY_FS=y

# Spoof CMDLine properties for Play Integrity API / SafetyNet Attestation
CONFIG_PROC_SPOOF_CMDLINE=y

# Enable Fingerprint Boost
CONFIG_FINGERPRINT_BOOST=y

# Disable Low Memory Killer
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set

# Enable Switchable SELinux status
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE is not set

# Enable Misc Kernel Features
CONFIG_TCP_CONG_BBR=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_IOSCHED_BFQ=y
CONFIG_IP_NF_TARGET_TTL=y
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_CPU_BOOST=y

# Enable NTFS
CONFIG_NTFS_RW=y

# Enable Boeffla Wakelock Blocker
CONFIG_BOEFFLA_WL_BLOCKER=y

# Enable Power Efficient Workqueues
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y

# CPU Bandwidth (Can make too much CPU's thrrottling)
# CONFIG_CFS_BANDWIDTH is not set

# Disable FIPS
# CONFIG_EXYRNG_FIPS_COMPLIANCE is not set
# CONFIG_EXYRNG_FAIL_POLICY_RESET is not set

# CIFS
CONFIG_CIFS=y
CONFIG_CIFS_STATS=y
CONFIG_CIFS_ALLOW_INSECURE_LEGACY=y
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CRYPTO_CCM=y
CONFIG_CRYPTO_MD4=y
# CONFIG_CIFS_WEAK_PW_HASH is not set
# CONFIG_CIFS_UPCALL is not set
# CONFIG_CIFS_DFS_UPCALL is not set
# CONFIG_CIFS_SMB311 is not set

# Thermal
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_THERMAL_GOV_BANG_BANG=y
# CONFIG_CLOCK_THERMAL is not set
# CONFIG_THERMAL_DEFAULT_GOV_POWER_ALLOCATOR is not set

# Disable Kernel Debug Features
# CONFIG_NTFS_DEBUG is not set
# CONFIG_CIFS_DEBUG is not set
# CONFIG_CGROUP_DEBUG is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_BLOCK_SUPPORT_STLOG is not set
# CONFIG_CMA_DEBUGFS is not set
# CONFIG_PM_SLEEP_DEBUG is not set
# CONFIG_MCPS_DEBUG is not set
# CONFIG_TOUCHSCREEN_DUMP_MODE is not set
# CONFIG_MMC_DW_DEBUG is not set
# CONFIG_SAMSUNG_LMKD_DEBUG is not set
# CONFIG_ION_DEBUG_EVENT_RECORD is not set
# CONFIG_CMUCAL_DEBUG is not set
# CONFIG_EXYNOS_DEBUG_TEST is not set
# CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG is not set
# CONFIG_PHY_EXYNOS_DEBUGFS is not set
# CONFIG_PHY_EXYNOS_DP_DEBUGFS is not set
# CONFIG_HAVE_DEBUG_KMEMLEAK is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set

# ZSMALLOG Mapping
# CONFIG_PGTABLE_MAPPING is not set
